/obj
/Common.Logging.log4net/obj
/Common.Logging.log4net/bin
/XJob.Business/bin
/XJob.Business/obj
/XJob.QuartzNet/obj
/XJob.QuartzNet/bin
/XJob.Service/bin
/XJob.Service/obj
/Bin/Logs
/Bin/zh-Hans
/Bin/Common.Logging.log4Net.dll
/Bin/Common.Logging.log4Net.pdb
/Bin/GlueNet.Bussiness.dll
/Bin/System.Net.Http.dll
/Bin/System.Net.Http.xml
/Bin/XJob.Business.dll
/Bin/XJob.Business.pdb
/Bin/XJob.QuartzNet.dll
/Bin/XJob.QuartzNet.pdb
/Bin/XJob.Service.exe
/Bin/XJob.Service.exe.config
/Bin/XJob.Service.pdb
