<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, XJob.QuartzNet" />
      <!--<section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />-->
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections> 
  <common>
    <logging>
      <factoryAdapter type=" Common.Logging.log4Net.Log4NetLoggerFactoryAdapter,Common.Logging.log4Net">

        <arg key="configType" value="FILE-WATCH" />
        <arg key="configFile" value="~/log4net.config" />
        <!--log4net使用独立的配置文件-->
      </factoryAdapter>
    </logging>
  </common>


  <appSettings>
    <!--服务器需要配置：监听地址和端口，不配置或配置为空默认http://localhost:6180-->
    <add key="--service.local.addr" value="http://localhost:12306"/>
    <!--客户端需要配置：远程服务器地址和端口，不配置或配置为空默认等于[service.local.addr]地址-->
    <add key="---service.remote.addr" value="http://localhost:12306"/>
    <!--自动更新服务器地址-->
    <add key="---service.autoupdate.addr--" value="http://localhost:8060/"/>
  </appSettings>
  <connectionStrings>
    <add name="default" connectionString="Data Source=Chenl-PC/rmesdev;User Id=GHMES;Password=GHMES123.X;enlist=dynamic" providerName="Oracle.ManagedDataAccess.Client"/>
    <add name="default--" connectionString="Server=Chenl-PC; Database=JobScheduler; User Id=sa; Password=system; " providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>